<!-- signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="project-signup-wrapper container">
    <div class="project-signup-container">
        <h2 class="project-signup-title">Sign Up</h2>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form class="project-signup-form" action="/signup/" method="POST">
            {% csrf_token %}
            <label for="project-email" class="project-signup-label">Email:</label>
            <input type="email" id="project-email" name="email" class="project-signup-input" required>

            <label for="project-password" class="project-signup-label">Password:</label>
            <input type="password" id="project-password" name="password1" class="project-signup-input" required>

            <label for="project-confirm-password" class="project-signup-label">Confirm Password:</label>
            <input type="password" id="project-confirm-password" name="password2" class="project-signup-input" required>

            <button type="submit" class="project-signup-button">Sign Up</button>
        </form>
        <p class="project-signin-option">
            Already a user? <a href="/login/" class="project-signin-link">Login</a>
        </p>
    </div>
</div>
{% endblock content %}
